
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}
html {
  height: 100%;
} /* si cuando creo muchas cards falla sacar esto */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/fondo2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0000009d;
}

.nav a {
  margin-right: 45rem;
}

.img-logo {
  height: 8rem;
  width: auto;
}

.field{
  height: 50px;
  width: 100%;
}
.field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.field input:focus,
.field input:valid{
  border-color: #4158d0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
}

.card {
  position: relative;
  margin: 10px;
  width: 320px;
  height: 480px;
  background: #000000;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #7a50c8;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: #00c3ff;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: none;
  background: #7a50c8;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.card-img {
  height: 300px;
  width: auto;
}
