@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/fondo2.webp);
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 12px;
  background: rgb(30, 30, 30);
}
body::-webkit-scrollbar-thumb {
  background: #2559e9;
  border-radius: 5px;
}

.nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0000009d;
}

.fixed {
  position: fixed;
  right: 0;
  z-index: 1000; 
}

.img-logo {
  height: 8rem;
  width: auto;
  transition: transform 0.3s ease; 
  transform-origin: center center;
  transform: scale(1);
}

.img-logo:hover {
  transform: scale(1.2);
}

.field{
  height: 50px;
  width: 100%;
}
.field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.field input:focus,
.field input:valid{
  border-color: #4158d0;
}

.carrito-icon {
  margin-left: 3rem;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.carrito-icon:hover {
  color: #bbbbbb;
}
 /**************** Hasta acá => elementos generales y navbar ***********************/




/************** CARDS ***************/
.wrapper {
  width: 85%;
  margin-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  margin: 10px 10px 50px 10px;
  width: 320px;
  height: 480px;
  background: #000000;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #7a50c8;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  margin-top: 5px;
  font-size: 24px;
  color: #00c3ff;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: none;
  background: #7a50c8;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.btn-agregar{
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  cursor: pointer;
  text-transform: uppercase;
}

.btn-agregar:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.btn-agregar:hover {
  color: #fff;
}

.btn-agregar:before {
  top: 100%;
  left: 100%;
}

.btn-agregar:hover:before {
  top: -30px;
  left: -30px;
}

.btn-agregar:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.bi-bag-plus-fill {
  margin-right: 8px;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.card-img {
  height: 300px;
  width: auto;
}

footer p {
  margin: 1.5rem;
  color: white;
}







/************* CARRITO **************/

.bi-arrow-left-circle-fill {
  display: flex;
  align-items: center;
}

.bi-arrow-left-circle-fill span {
  margin-left: 10px;
  font-size: 1.3rem;
}

section {
  margin: 80px auto;
  padding: 20px;
  background-color: #E8EAF6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  border-radius: 15px;
  color: #673AB7;
}

.titulo-carrito {
  margin-bottom: 1rem;
  border-bottom: #696969 solid 1px;
}

.carrito-vacio {
  margin-top: 1rem;
}

.carrito-vacio-agregar {
  text-decoration: none;

}
.carrito-vacio-agregar:hover {
  text-decoration: underline;
  color: #00c3ff;
}

.product {
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px ;
  background-color: rgb(204, 194, 194);
  border-radius: 15px;
}

.product img {
  max-width: 100px;
  max-height: 100px;
}

.product p {
  margin: 0;
  text-transform: uppercase;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.btn-eliminar,
.btn-vaciar,
.btn-comprar {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.3s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.btn-eliminar:hover,
.btn-vaciar:hover,
.btn-comprar:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.btn-eliminar:active,
.btn-vaciar:active,
.btn-comprar:active {
  transform: scale(0.9);
}

.btn-eliminar {
  background-color: #dd1d1d;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn-eliminar:hover {
  background-color: #922020; 
  box-shadow: none;
  transition: ease-out 0.3s;
}

.vaciar-comprar {
display: flex;
justify-content: space-between;
align-items: center; 
}

.btn-vaciar {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.cart-total p {
  margin-bottom: 20px;
}

.disabled {
  display: none;
}
